ctranslate2==3.12.0
fastapi==0.95.1
faster-whisper==0.4.1
ffmpeg-python==0.2.0
gunicorn==20.1.0
llvmlite==0.39.1
numba==0.56.4
numpy~=1.23.5
openai-whisper==20230314
tiktoken~=0.3.1
torch==1.13.0+cu117; sys_platform == "linux"
torch==1.13.0; sys_platform == "darwin"
